@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

#introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.titulo {
    font-family: "Oswald", serif;
    color: rgba(219, 219, 219, 0.79);
    font-size: 40px;
    margin: 10% 0 0 0;
}

.subtitulo {
    font-family: "Besley", serif;
    color: rgba(219, 219, 219, 0.79);
}

.texto {
    font-family: "Roboto", serif;
    color: rgba(219, 219, 219, 0.79);
}

#habilidades {
    text-align: center;
    height: 100%;
}

#rowHabilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidade {
    width: 30%;
    height: 100px;
    border: 2px solid #5ce1e6;
    border-radius: 5%;
    margin: 10px;
    transition: box-shadow 0.2s;
}

.habilidade img {
    margin: 0;
    width: 50%;
    height: auto;
}

.pc {
    height: 156px;
    width: 270px;
    border: 5px solid rgba(219, 219, 219, 0.79);
    margin: 5px;
    border-radius: 5%;
}

.cell {
    height: 259px;
    width: 146px;
    border: 5px solid rgba(219, 219, 219, 0.79);
    margin: 5px;
    border-radius: 5%;
}

.projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #5ce1e6;
    width: 99%;
    padding: 2px;
    border-radius: 2%;
    transition: box-shadow 0.2s;
}

.telas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#projetos {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#livia .pc {
    background-size: cover;
}

#livia .cell {
    background-size: cover;
}

#feedbacks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.feedback{
    border: 1px solid #5ce1e6;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 95%;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s;
}

#perfil{
    width: 50%;
}

#feedbackLivia{
    width: 50%;
    height: auto;
    border-radius: 2%;
}

#contato {
    text-align: center;
}

#contato form {
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#contato label {
    display: block;
    margin-bottom: 10px;
}

#contato input, #contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}

#contato textarea {
    resize: vertical;
}

#contato button[type="submit"] {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: #5ce1e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contato button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (hover: hover) {
    .habilidade:hover {
        box-shadow: 5px 2px 2px #5ce1e6;
    }

    .projeto:hover {
        box-shadow: 5px 2px 2px #5ce1e6;
    }

    .feedback:hover {
        box-shadow: 5px 2px 2px #5ce1e6;
    }
}



    /* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #232741; background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }


@media screen and (min-width: 768px) and (orientation: landscape) {

    #logo {
        width: 41%;
    }

    .titulo {
        font-size: 50px;
        margin: 5% 0 0 0;
    }

    #rowHabilidades {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }

    .habilidade{
        width: 20%;
        height: 220px;
    }

    .habilidade img{
        width: 50%;
        height: auto;
    }

    .projeto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #5ce1e6;
        width: 40%;
        padding: 5px;
        cursor: pointer;
        border-radius: 2%;
        font-size: x-large;
    }

    #feedbacks{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feedback{
        width: 40%;
        border-radius: 2%;
        display: flex;
        flex-direction: row;
        font-size:x-large ;
    }

    .feedbackLivia{
        width: 20%;
        border-radius: 2%;
    }

    .feedback:hover{
        width: 45%;
        box-shadow: 5px 2px 2px #5ce1e6;
    }

    .projeto:hover{
        width: 45%;
        box-shadow: 5px 2px 2px #5ce1e6;
    }

    .habilidade:hover{
        box-shadow: 5px 2px 2px #5ce1e6;
    }

    #sobre {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        font-size: x-large;
    }

    #perfil {
        width: 25%;
        border-radius: 5%;
        margin-right: 20px;
    }

    #contato form {
        padding: 30px;
    }

    #contato input, #contato textarea {
        margin-bottom: 25px;
    }

    #contato button[type="submit"] {
        padding: 12px;
    }
}
